config PU32
	def_bool y
	select PRINTK_TIME
	select HAVE_DEBUG_BUGVERBOSE
	select NO_DMA
	select ARCH_32BIT_OFF_T
	select ARCH_USE_QUEUED_RWLOCKS
	select GENERIC_ATOMIC64
	select GENERIC_LIB_ASHLDI3
	select GENERIC_LIB_ASHRDI3
	select GENERIC_LIB_LSHRDI3
	select GENERIC_IOMAP
	select UACCESS_MEMCPY
	select GENERIC_SCHED_CLOCK
	select GENERIC_IRQ_SHOW
	select BUILDTIME_TABLE_SORT
	#select HAVE_CONTEXT_TRACKING
	#select CONTEXT_TRACKING
	select GENERIC_CPU_DEVICES if !NUMA
	select GENERIC_SMP_IDLE_THREAD
	select HAVE_IRQ_EXIT_ON_IRQ_STACK

config SMP
	def_bool n

config NR_CPUS
	int "Maximum number of CPUs"
	range 2 16
	depends on SMP
	default "16"

config HOTPLUG_CPU
	bool "Support for hot-pluggable CPUs"
	select GENERIC_IRQ_MIGRATION
	depends on SMP
	default y
	help
	  Say Y here to experiment with turning CPUs off and on.
	  CPUs can be controlled through /sys/devices/system/cpu/cpu#.
	  Say N if you want to disable CPU hotplug.

config MMU
	def_bool y

#config NUMA
#	bool "NUMA Memory Allocation and Scheduler Support"
#	depends on SMP && MMU
#	default n
#	select GENERIC_ARCH_NUMA
#	select ARCH_SUPPORTS_NUMA_BALANCING
#	help
#	  Enable NUMA (Non-Uniform Memory Access) support.

# Must be set to clog2(NR_CPUS)
config NODES_SHIFT
	int "Maximum NUMA Nodes (as a power of 2)"
	range 1 4
	default "4"
	depends on NEED_MULTIPLE_NODES
	help
	  Specify the maximum number of NUMA Nodes available on the target
	  system.  Increases memory reserved to accommodate various tables.

config USE_PERCPU_NUMA_NODE_ID
	def_bool y
	depends on NUMA

config HAVE_MEMORYLESS_NODES
	def_bool y
	depends on NUMA

config FPU
	def_bool n # Disable all floating-point related procedure in the kernel.

config HZ
        int
        default 100

config FORCE_MAX_ZONEORDER
        int
        default 13

# TODO: Must be kept 0 until there is a way to guarantee
# that kernel stacks are naturally aligned; otherwise checks
# such as (sp & ~(THREAD_SIZE-1)) will fail to compute
# the start of the stack.
config KERNEL_STACK_ORDER
	int "Kernel stack size order"
	default 0
	help
	  This option determines the size of kernel stacks.
	  They will be (1 << order) pages.

config GENERIC_HWEIGHT
	def_bool y

config GENERIC_CSUM
	def_bool y

config STACKTRACE_SUPPORT
	def_bool y

config LOCKDEP_SUPPORT
	def_bool  y

config HW_RANDOM
	default n

config RANDOM_TRUST_CPU
	def_bool y

config HWMON
	default n

config IOMMU_SUPPORT
	def_bool n

config HID
	default n

config INPUT_KEYBOARD
	def_bool n

config INPUT_MOUSE
	def_bool n

config SECURITY
	def_bool n

config USB_OHCI_LITTLE_ENDIAN
	def_bool n

config USB_SUPPORT
	def_bool n

config LCD_CLASS_DEVICE
	default n

config EARLY_PRINTK
	def_bool y

config PU32_DEBUG
	def_bool n
	select DEBUG_ATOMIC_SLEEP
	select SCHED_STACK_END_CHECK
	select DEBUG_PREEMPT
	select HAVE_DEBUG_KMEMLEAK
	select DEBUG_KMEMLEAK
	select DEBUG_KMEMLEAK_DEFAULT_OFF
	select DEBUG_MEMORY_INIT
	select ARCH_USE_MEMTEST
	select MEMTEST
	select RCU_EQS_DEBUG
	select PRINTK_CALLER
	select DEBUG_IRQFLAGS

source "arch/pu32/drivers/Kconfig"
